<div class="col-sm-6">
	<div class="card">
	  <div class="card-body">
	    <h5 class="card-title"><%=blog.title%></h5>
	    <h6 class="card-subtitle mb-2 text-muted"><%=blog.enabler.author.name%></h6>
	    <p class="card-text"><%=blog.description.html_safe%></p>
	    <a href="#" class="card-link">Card link</a>
	    <a href="#" class="card-link">Another link</a>
	  </div>
	</div>
</div>