
<div class="card" style="width: 100%;padding: 30px;">
<span onclick="$('#post_viewport').html('');$('#timeline_viewport').show();" style="padding:5px 15px 5px 15px; border-radius: 5px; background-color: lightblue; color:black;width: fit-content;cursor: pointer;">Back To Timeline</span>
<div class="card-header text-center">
	<h1><%=blog.title%>&nbsp;<small>-<%=blog.enabler.author.display_name%></small></h1>
</div>
<div class="card-body">
	<h4><%=blog.description.html_safe%></h4>
</div>
</div>
