
<div class="card" style="width: 100%;padding: 30px;">
<div class="card-header text-center">
	<h1><%=blog.title%>&nbsp;<small>-<%=blog.enabler.author.display_name%></small></h1>
</div>
<div class="card-body">
	<h4><%=blog.description.html_safe%></h4>
</div>
</div>
