
<div class="card" style="width: 100%;padding: 30px;">
<img src="<%=asset_path('back_button.png')%>" height="40" width="40" style="cursor: pointer;" onclick="$('#post_viewport').html('');$('#timeline_viewport').show();" title="Back To Timeline" alt="Back To Timeline">
<div class="card-header text-center">
	<h1><%=blog.title%>&nbsp;<small>-<%=blog.enabler.author.display_name%></small></h1>
</div>
<div class="card-body">
	<h4><%=blog.description.html_safe%></h4>
</div>
</div>
