<div class="card" style="width: 100%;">
  <%=image_tag user.profile_image.empty? ? asset_path('default_logos/default_profile.png') : user.profile_image ,class:"card-img-top" rescue ""%>
  <div class="card-body">
    <h5 class="card-title"><%=user.display_name%></h5>
    
    <p class="card-text"><i>"<%=bio_display(user)%>"</i></p>
    <%=link_to "View Profile" , profile_path(user.id),class:"btn btn-primary",remote:true%>
  </div>
</div>