<div class="card" style="width: 18rem;height:82vh;">
<div class="profile_edit_tooltip">
  <center>
    <img class="card-img-top" src="<%=profile_display_image(current_user)%>" alt="Card image cap" style="border-radius: 50%; width:60%;padding-top: 5%;">
  </center>
  <span class="profile_edit_tooltip_link">
    <%edit_profile_image="<img src='#{asset_path('default_logos/edit_profile.png')}' alt='Edit Profile' height='30' width='30' title='Edit Profile'>"%>
    <%=link_to edit_profile_image.html_safe,profile_edit_path,remote: :true if current_user%>
  </span>
  <div class="card-body">
    <h5 class="card-title"><%=current_user.display_name%></h5>
    <label class="card-text" id="user_bio" style="width:100%;"><p onclick="edit_bio()">Some quick example text to build on the card title and make up the bulk of the card's content.</p></label>
  </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<script type="text/javascript">
  function edit_bio()
  {
    bio_text=$('#user_bio').find('p').html();
    setTimeout(function() {
      $('#user_bio').html('<textarea id="user_bio_edit_area" style="width:100%;">'+bio_text+'</textarea>');
    }, 200);
  }
</script>