<div class="d-flex flex-row border rounded">
    <div class="p-0 w-25">
        <%=image_tag user.profile_image.empty? ? asset_path('default_logos/default_profile.png') : user.profile_image ,class:"img-thumbnail border-0" rescue ""%>
    </div>
    <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
        <h4 class="text-primary"><%=user.display_name%></h4>
        <h5 class="text-info">
          
        <center>
        <span class="description text-center" style="width:100%;"><i><b>"</b><span style="cursor: pointer"><%=bio_display(user)%></span><b>"</b></i></span>
        </center>

        </h5>
        
      <%=link_to "View Profile" , profile_path(user.id),class:"btn btn-primary",remote:true%>
  </div>
</div>