<div class="d-flex flex-row border rounded">
    <div class="p-0 w-25">
        <%=image_tag user.profile_image.empty? ? asset_path('default_logos/default_profile.png') : user.profile_image ,class:"img-thumbnail border-0" rescue ""%>
    </div>
    <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
        <h4 class="text-primary"><%=user.display_name%></h4>
        <h5 class="text-info">
          <%bio_display=(user.profile.bio.nil?) ? "My Bio" : user.profile.bio%>
        <center>
        <span class="description text-center" style="width:100%;"><i><b>"</b><span style="cursor: pointer"><%=bio_display%></span><b>"</b></i></span>
        </center>

        </h5>
        
      <p class="text-right m-0"><a href="#" class="btn btn-primary"><i class="far fa-user"></i> View Profile</a></p>
  </div>
</div>