	<div class="card">
		<div class="card-body">
			<%=@club.description.html_safe%>
		</div>
	</div>
	<hr>
	<h2>Owner</h2>
	<%=render '/shared/user',user:@boss%>
	
	<%unless @admins.empty?%>
	<hr>
	<h4>Admins</h4>
	<%@admins.each do |admin|%>
	<%=render '/shared/user',user:admin%>
	<%end%>
	<%end%>