<div class="row">
  <%@invitations.each do |invitation|%>
  <div class="col col-md-10">
    <%=render '/shared/user',user:invitation.requester%>
  </div>
  <div class="col col-md-2">
    <%=link_to "Yes",accept_member_into_community_path(invitation:invitation.id,id:@club.id,invitee_id:invitation.requester.id,status:1),method: :post,class:"btn btn-success",remote: true %>
    <%=link_to "No",accept_member_into_community_path(invitation:invitation.id,id:@club.id,invitee_id:invitation.requester.id,status:0),method: :post,class:"btn btn-danger" ,remote: true%>
  </div>
  <%end%>
</div>
<%= paginate @invitations, :remote => true %>