<style type="text/css">
  .get_in_the_middle{
    padding:27px 0 23px 0;;
  }
</style>
<div id="demo" class="carousel slide" data-ride="carousel" data-interval=false style="margin:auto;">
  <%=link_to "&times;".html_safe,close_carousel_path,remote:true,class:"pull-right"%>
  <div class="carousel-inner">
    
  <%@images.each_with_index do |image,idx|%>
    <div class="get_in_the_middle carousel-item text-center <%='active' if idx==0%>">
      <%=link_to (image_tag image.location.to_s,{height:59,width:59}),make_profile_image_path(image.id),method: :post,remote:true%>
    </div>
  <%end%>
  <br>  
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>